node_modules/ 
.expo/ 
.expo-shared/ 
dist/ 
build/ 
package-lock.json 

# Environment variables (API keys sensibles)
.env
.env.local
.env.*.local
# Android
android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/local.properties/
android/.idea/
android/*.iml
# VS Code
.vscode/

# Logs de error
*.log
hs_err_pid*.log
replay_pid*.log

